<div class="container book-shelf">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <h3 class="centered">کتاب‌ها</h3>
        </div>
    </div>
    <div class="row books">
    	<div class="col-sm-4 col-md-4">
            <div class="book-shelf-book featured" data-featured="true">
                <a href="/books/{{ featured.id }}/">
                    <img alt="{{ featured.title }}" class="hidden-sm"
                         src="{{ featured.image.url }}">
                    <img alt="{{ featured.title }}" class="visible-sm"
                         src="{{ featured.image.url }}">
                </a>

                <div class="title centered">
                    <a href="/books/{{ featured.id }}/">
                        <strong>{{ featured.title }}</strong>
                    </a></div>
                <div class="book_authors centered">
                    نویسنده:
                    {% for a in featured.authors.all %}
                    <a href="/authors/{{ a.id }}/">{{ a.full_name }}</a>
                    {% if not forloop.last %}، {% endif %}
                    {% endfor %}
                </div>
                <div class="book_authors centered">  
                   	{% ifnotequal featured.translators.count 0%}
                   	مترجم:
                   	{% for t in featured.translators.all%}
                   	<a href="/authors/{{ t.id }}">{{t.full_name}}</a>
                   	{% if not forloop.last%},{% endif%}
                   	{% endfor %}
                   	{% endifnotequal %}
                </div>
                <hr class="hidden-sm">
                <div class="description is-hidden">
                    <div class="full text-right" style="text-align: justify;">
                        {{ featured.description|linebreaks }}
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-8 col-md-8">
            <div class="row">
                {% for b in first %}
                <div class="centered col-sm-4 col-md-4">
                    <div class="book-shelf-book">
                        <a href="/books/{{ b.id }}/">
                            <img alt="{{ b.title }}"
                                 src="{{ b.image.url }}">
                        </a>

                        <div>
                            <a href="/books/{{ b.id }}/">
                                <strong>{{ b.title }}</strong>
                            </a></div>
                        <div class="book_authors">
                            نویسنده:
                            {% for a in b.authors.all %}
                            <a href="/authors/{{ a.id }}/">{{ a.full_name }}</a>
                            {% if not forloop.last %}، {% endif %}
                            {% endfor %}
                        </div>
                        <div class="book_authors">
                            {% ifnotequal b.translators.count 0%}
                 		  	مترجم:
		                   	{% for t in b.translators.all%}
		                   	<a href="/authors/{{ t.id }}">{{t.full_name}}</a>
		                   	{% if not forloop.last%},{% endif%}
		                   	{% endfor %}
		                   	{% endifnotequal %}
                        </div>
                    </div>
                </div>
            {% endfor %}

            </div>
            <div class="row">
                {% for b in second %}
                <div class="centered col-sm-4 col-md-4">
                    <div class="book-shelf-book">
                        <a href="/books/{{ b.id }}/">
                            <img alt="{{ b.title }}"
                                 src="{{ b.image.url }}">
                        </a>

                        <div>
                            <a href="/books/{{ b.id }}/">
                                <strong>{{ b.title }}</strong>
                            </a></div>
                        <div class="book_authors">
                            نویسنده:
                            {% for a in b.authors.all %}
                            <a href="/authors/{{ a.id }}/">{{ a.full_name }}</a>
                            {% if not forloop.last %}، {% endif %}
                            {% endfor %}
                        </div>
                        <div class="book_authors">
                            {% ifnotequal b.translators.count 0%}
		                   	مترجم:
		                   	{% for t in b.translators.all%}
		                   	<a href="/authors/{{ t.id }}">{{t.full_name}}</a>
		                   	{% if not forloop.last%},{% endif%}
		                   	{% endfor %}
		                   	{% endifnotequal %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>

        </div>
    </div>
</div>
