<div class="container book-shelf">
	<div class="row">
		<div class="col-sm-12 col-md-12">
			<h3 class="centered hidden-sm hidden-xs">{{title}}</h3>
			<h4 class="centered hidden-lg hidden-md">{{title}}</h4>
		</div>
	</div>
	<div class="row books">
		{% for b in books%}
		<div class="col-sm-6 col-md-6 centered">
			<div class="col-sm-4 col-md-4 navid-book-shelf-book m-book-shelf-book">
					{% ifequal mode 1%}
					<a  href="/books/{{ b.id }}">
						{% if b.image %}
	                    <img alt="{{ b.title }}" class="hidden-sm"
	                         src="{{ b.image.url }}">
	                    <img alt="{{ b.title }}" class="visible-sm"
	                         src="{{ b.image.url }}">
	                     {% else %}
	                     <img class="hidden-sm"
	                         style="background-color:gray; height:200px;">
	                    <img class="visible-sm"
	                         style="background-color:gray; height:200px;">
	                     {% endif %}
	                </a>
	                {% endifequal %}
	                {% ifequal mode 2%}
					<a  href="/article/{{ b.id }}">
						{% if b.image %}
	                    <img alt="{{ b.title }}" class="hidden-sm"
	                         src="{{ b.image.url }}">
	                    <img alt="{{ b.title }}" class="visible-sm"
	                         src="{{ b.image.url }}">
	                     {% else %}
	                     <img class="hidden-sm"
	                         style="background-color:gray; height:200px;">
	                    <img class="visible-sm"
	                         style="background-color:gray; height:200px;">
	                     {% endif %}
	                </a>
	                {% endifequal %}
	                {% ifequal mode 3%}
					<a  href="/news/{{ b.id }}">
						{% if b.image %}
	                    <img alt="{{ b.title }}" class="hidden-sm"
	                         src="{{ b.image.url }}">
	                    <img alt="{{ b.title }}" class="visible-sm"
	                         src="{{ b.image.url }}">
	                     {% else %}
	                     <img class="hidden-sm"
	                         style="background-color:gray; height:200px;">
	                    <img class="visible-sm"
	                         style="background-color:gray; height:200px;">
	                     {% endif %}
	                </a>
	                {% endifequal %}
				<div class="title centered">
					{% ifequal mode 1%}
                    <a href="/books/{{ b.id }}">
                        <strong>{{ b.title }}</strong>
                    </a>
                    {% endifequal %}
                    {% ifequal mode 2%}
                    <a href="/article/{{ b.id }}">
                        <strong>{{ b.title }}</strong>
                    </a>
                    {% endifequal %}
                    {% ifequal mode 3%}
                    <a href="/news/{{ b.id }}">
                        <strong>{{ b.title }}</strong>
                    </a>
                    {% endifequal %}
                </div>
                
                {% if b.authors%}
                <div class="book_authors centered">
                	{% ifnotequal b.authors.all.count 0%}
                    نویسنده:
                    {% for a in b.authors.all %}
                    <a href="/authors/{{ a.id }}/">{{ a.full_name }}</a>
                    {% if not forloop.last %}، {% endif %}
                    {% endfor %}
                    {% endifnotequal %}
                </div>
                {% endif %}
                {% if b.author%}
                <div class="book_authors centered">
                    نویسنده:
                    <a href="{{b.author_link}}">{{ b.author }}</a>
                </div>
                {% endif %}
                {% if b.translators%}
                <div class="book_authors centered">  
                   	{% ifnotequal b.translators.count 0%}
                   	مترجم:
                   	{% for t in b.translators.all%}
                   	<a href="/authors/{{ t.id }}">{{t.full_name}}</a>
                   	{% if not forloop.last%},{% endif%}
                   	{% endfor %}
                   	{% endifnotequal %}
                </div>
                {% endif %}
                {% if b.translator%}
                <div class="book_authors centered">
                    مترجم:
                    <a href="{{b.translator_link}}">{{ b.translator }}</a>
                </div>
                {% endif %} 
			</div>
			<div class="col-sm-8 col-md-8 navid-book-shelf-book m-book-shelf-book featured hidden-sm hidden-xs" data-featured="true">
				<hr class="hidden-sm">
				{% ifequal mode 1%}
				<div class="title" href="/books/{{b.id}}"> </div>
				{% endifequal %}
				{% ifequal mode 2%}
				<div class="title" href="/article/{{b.id}}"> </div>
				{% endifequal %}
				{% ifequal mode 3%}
				<div class="title" href="/news/{{b.id}}"> </div>
				{% endifequal %}
                <div class="description is-hidden">
                    <div class="dotdotdot full text-right" style="text-align: justify;">
                        {{ b.description|linebreaks }}
                    </div>
                </div>
			</div>
		</div>
		{% endfor%}
		
	</div>
</div>

