{% extends 'base.html'%}

{%block content%}
<article class="transparent">
	<section>
		<div class="container">
			<div class="row" >
				<div class="col-sm-2 col-md-2">
					<img style="max-width: 95%;" src="/media/images/LOGO BOZORG.png">
				</div>
				<div class="col-sm-1 col-md-1"> </div>
				<div class="col-sm-8 col-md-8" style="font-size:22px; text-align: justify;">
					<div style="margin-top:100px;">
						نشر بدیل یک موسسه‌ی انتشاراتی مستقل و غیرتجاری است که با هدف احیای زبان فارسی، انتشار آثار برجسته‌ی ادبیات امروز و ایجاد فرصت برای شاعران، نویسندگان و مترجمان جوان و بااستعداد فعالیت می‌کند.
					</div>
					<div style="margin-top:30px;">
						در توضیح اهداف نشر بدیل ذکر چند نکته ضروری است:
					</div>
					<div style="margin-top:10px;">
						۱. ما برخلاف اغلب بنگاه‌های نشر شناخته‌شده‌ی امروز ایران به‌شدت با بی‌مایگی و میان‌مایگی در ادبیات مخالف ایم. ما ادبیات را شاخه‌یی از هنر می‌دانیم و بنابراین معتقد ایم مثل دیگر شاخه‌های هنر مستلزم دانش، ذوق، تجربه و تسلط است. ما با هدف تولید «کالای فرهنگی» برای پرکردن زمان‌های مرده فعالیت نمی‌کنیم و برخلاف اغلب بنگاه‌های نشر شناخته‌شده معتقد نیستیم آثار ادبی غنی و مهم در میان خوانندگان ایرانی امروزی جایگاه ندارد و بنابراین خوانده نمی‌شود. ما هیچ ارزشی برای تقلید از آثار غیرایرانی (آن هم از نوع تجاری) در فورم، زبان و ساختار قایل نیستیم. نوآوری را در هنر ادامه‌ی ناگزیر شناخت اصول کلاسیک می‌دانیم. ما تک‌تک بخش‌های کار را فقط به متخصصان شایسته و صلاحیت‌دار می‌سپریم.
					</div>
					<div style="margin-top:10px;">
						۲. ما به اتخاذ شیوه‌ی نگارش ثابت و تعمیم آن به تمام آثار چاپی نشر اعتقاد نداریم. شیوه‌ی نگارش هر کتاب را بخشی از قالب و ساختار آن می‌دانیم و براساس هر کتاب تعریف می‌کنیم.
					</div>
					<div style="margin-top:10px;">
						۳. ما به ویراستاری انعطاف‌ناپذیر و اعمال نظر اعتقاد نداریم. ویراستاری هر کتاب را براساس خصوصیات خود کتاب، به‌صورت فعال، انجام می‌دهیم.
					</div>
					<div style="margin-top:10px;">
						۴. همان‌طور که می‌دانید در زبان سازمانی ناشران به نویسنده یا مترجم کتاب «پدیدآورنده» می‌گویند. ما اعتقاد نداریم ناشر به‌صرف سرمایه‌گذاری در چاپ یک اثر می‌تواند به خود اجازه بدهد که در کار پدیدآورنده‌ی آن دخالت کند و ساختار و قالب را دگرگون کند. ما تمام تغییرات و اصلاحات لازم را طی جلساتی در قالب «پیش‌نهاد» و «مشاوره» در اختیار پدیدآورنده می‌گذاریم و تصمیم نهایی را بر عهده‌ی او خواهیم گذاشت.
					</div>
					<div style="margin-top:10px;">
						۵. اصل را در ترجمه و ویراستاری زبان فارسی سالم و فاخر، حفظ حس‌وحال کتاب و سبک نویسنده و مترجم می‌دانیم. ما به‌هیچ‌وجه برای تسریع کار به گرته‌برداری‌هایی تن نمی‌دهیم که به زبان فارسی آسیب مهلک می‌زند و متن کتاب‌ها را چنان سست می‌کند که به‌قول یکی از بزرگان بوی ترجمه بدهد. هدف ما ادامه، پیش‌برد و عبور از کار نویسندگان و مترجمان برجسته‌یی است که در قرن حاضر در کشور ما فعالیت کرده‌اند. برگشت به عقب از نظر ما معنایی ندارد. مقایسه‌ی ترجمه‌های ما با ترجمه‌های دیگر موجود در بازار نشر این حرف را اثبات می‌کند.
					</div>
					<div style="margin-top:10px;">
						۶. ما با فراهم‌آوردن فرصت برای نویسندگان جوانی که استعداد دارند این فرصت را به مخاطبان ادبیات می‌دهیم که به انتظاراتی که از این هنر دارند برسند. ما به مرگ ادبیات یا مرگ هنر یا هرگونه ادای شبه‌روشن‌فکری ازاین‌دست (که بی‌تردید براساس تحلیل‌هایی بازاری طرح می‌شود) اعتقاد نداریم. ما معتقد ایم هر اثر ادبی غنی، ارزش‌مند و خوش‌ساخت حتماً خواننده خواهد داشت و نیازی به تنظیم آثار برای جلب خواننده نیست، در این تحلیل «کمیت مخاطبان» و یا «بازار هدف» معنایی ندارد. ما به‌هیچ‌وجه عامل «جذب خواننده» را (وبنابراین عامه‌پسندی و محافظه‌کاری یا به‌زبان تاریخی بازگشت ادبی را) در انتخاب، ترجمه، ویراستاری و شیوه‌ی نگارش مد نظر قرار نمی‌دهیم. ترجیح می‌دهیم آثار ادبی پرمایه را با شمارگان معدود و بدون اهداف اقتصادی به‌دست خواننده برسانیم. ما معتقد ایم انتشار کتاب‌های بی‌مایه‌ی کتاب‌سازها هم دست ما را آلوده می‌کند و هم توهین به شعور مخاطب ادبیات است. ما معتقد ایم اصرار بر توسعه‌ی میان‌مایگی در هنر عاقبت به بی‌مایگی ختم می‌شود، چنان‌که در موارد متعدد شده است. همه می‌دانند، نیازی به شاهد و مثال نیست.
					</div>
				</div>
				<div class="col-sm-1 col-md-1"> </div>
			</div>
			
		</div>
	</section>
</article>
{% endblock %}
