{% extends 'base.html' %}

{% block facebook_meta%}
<meta property="og:title" content="نشر خارپشت">
<meta property="og:locale" content="fa_IR">
<meta property="og:url" content="http://kharposht.ir/authors/{{author.id}}">
<meta property="og:site_name" content="خارپشت">
<meta property="og:description" content="صفحه‌ی {{autho.full_name}}در نشر خارپشت">
<meta property="og:image" content="{{author.image.url}}">

{% endblock %}

{% block content %}
<article class="transparent">
	
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-3">
				<a href="">
					<img src="{{author.image.url}}">
				</a>
			</div>
			<div class="col-sm-9 col-md-9">
				<div class="row">
					<div class="col-sm-11 col-md-11">
					<h1>
						{{author.full_name}}
					</h1>
					</div>
					<div class="col-sm-1 col-md-1">
						<a href="http://www.facebook.com/sharer.php?u=http://kharposht.ir/authors/{{author.id}}" 
							og:title="{{author.full_name}}" style="text-decoration: none;">
						<img src="/media/images/facebook.png" style="height:30px; margin-top:30px;">
						</a>
					</div>
				</div>
				<div style="text-align: justify;">
				{{ author.description|linebreaks}}
				</div>
			</div>

		</div>
	</div>
</section>

{% if books %}
{% include 'partials/books.html' with books=books width=book_width title="کتاب‌ها" %}
{% endif %}

</article>
{% endblock %}
