<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fa" lang="fa">
<head prefix="og: http://ogp.me/ns#">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="version" content="0.1">
    <!-- TODO -->
    <meta name="description"
          content="سایت نشر خارپشت">
    <meta name="keywords"
          content="نشر خارپشت">
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <title>نشر خارپشت</title>
    {% block facebook_meta%}{%endblock%}
    <link rel="SHORTCUT ICON" href="/media/images/favicon_us.ico">
    <link href="{{ MEDIA_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ MEDIA_URL }}css/bootstrap-rtl.min.css" rel="stylesheet" type="text/css">
    <link href="{{ MEDIA_URL }}css/styles.css" rel="stylesheet" type="text/css">
    {% block extrastyles %}{% endblock %}
</head>
{% autoescape off %}
<body style="background-color: #E0EFD3">
<header>
    <div class="container">
        <div id="navbar-mini" class="navbar navbar-static-top visible-lg" role="navigation">
            <div class="navbar navbar-default">
                <ul class="navbar-nav nav navbar-left">
                	<!--
                    <li><a href="#">ئی‌بوک مجانی</a></li> 
                    <li><a href="#">قراردادها</a></li> 
                    <li><a href="#">نامه‌خبر</a></li>
                    <li><a href="#">اکانتت</a></li>
                   
                   <li><a href="#">ثبت ِنام</a></li>
                   <li><a href="#">ورود</a></li>
                    <li id="checkout"><a id="show_cart" href="#">
                        <i class="glyphicon glyphicon-shopping-cart"></i>
                        سبد <span class="count">(0)</span></a>
                    </li>
                   -->
                   <li style="color:red;">نسخه‌ی آزمایشی</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="navbar-main" class="navbar navbar-default">
        <div class="container">
            <div class="clearfix">
            <!--<button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".nav-collapse">
                <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button> -->
            <div class="pull-left navbar-form">
                <div>
                    <input id="search-query" name="query" placeholder="جست‌وجو"
                           class="form-control" type="search">
                    <input class="form-control pull-left" value="" onclick="search()" style=" width:inherit; background:url(/media/images/magnifier12.png) no-repeat; background-size: 100%; padding-left:20px; border:0" type="submit">
                </div>
            </div>
            <a href="/">
            <div class="navbar-brand" style="padding: 0;">
            	<img src="/media/images/logo-kharposht.gif" style=" height:130%; position:relative; top:-15%; background-color:#E0EFD3;">
            </div>
            </a>
            <div class="collapse navbar-collapse">
            <ul id="header_nav_bar" class="nav navbar-nav">
                <li class="books dropdown">
                    <a href="#" class="dropdown-toggle hidden-sm hidden-md"
                       data-href="#" data-toggle="dropdown" id="books_nav_link"
                       name="&amp;lpos=us-books-dropdown" role="button">کتاب‌ها <b class="caret hidden-sm hidden-md"></b></a>

                    <div class="dropdown-menu menu_dropshadow hidden-sm hidden-md" role="menu">
                        <ul>
                            <!--<h4>Explore</h4> -->
                            <li><a href="/published">منتشر شد</a></li>
                            <li><a href="/not_published">منتشر می‌شود</a></li>
                            <!--<li><a href="#">پرفروش‌ترین‌ها</a></li> -->
                            <li><a href="/books_by_subject/2">ادبیات ِایران</a></li>
                            <li><a href="/books_by_subject/1">ادبیات ِجهان</a></li>
                            <li class="disabled"><a href="">پیش‌نهاد ِما</a></li>
                           <!-- <li class="disabled"><a href="">جایزه‌برده‌ها</a></li> -->
                             <!--<li><a href="http://www.simonandschuster.com/audio" name="&amp;lpos=us-books-dropdown">Audiobooks</a>
                            </li>
                            <li><a href="http://search.simonandschuster.com/books/Format-eBook/_/N-i8fZpgz/Ne-i7h"
                                   name="&amp;lpos=us-books-dropdown">Deals</a></li> -->
                        </ul>
                        <ul class="">
                            <!--<h4>Categories</h4> 
                            <li>
                                <a href="http://search.simonandschuster.com/books/Category-Business-Economics/_/N-fh8Zpgz/Ne-pgx"
                                   name="&amp;lpos=us-books-dropdown">Business</a></li>
                            <li><a href="#">کودکان</a>
                            </li> -->
                            <li><a href="/books_by_subject/5">داستانی</a></li>
                            <li><a href="/books_by_subject/6">هنر</a></li>
                          <!--  <li><a href="">Literary</a></li> -->
                            <li><a href="/books_by_subject/4" class="disabled">خاطرات</a></li>
                            <!--<li><a href="#">Mind, Body, Spirit</a></li> -->
                            <!--<li><a href="#">معمایی</a></li> -->
                            <!--<li><a href="http://www.pimsleur.com/" name="&amp;lpos=us-books-dropdown" target="_blank">Pimsleur</a>
                            </li> -->
                            <li><a href="/all_books">همه‌ی ِدسته‌ها</a></li>
                        </ul>
                        <!--
                        <ul class="borderless">
                            <h4>&nbsp;</h4> 
                            <li><a href="http://series.simonandschuster.com/Ready-to-Reads"
                                   name="&amp;lpos=us-books-dropdown">Ready to Read</a></li>
                            <li><a href="http://search.simonandschuster.com/books/Category-Romance/_/N-g1mZpgz/Ne-pgx"
                                   name="&amp;lpos=us-books-dropdown">Romance</a></li>
                            <li><a href="http://series.simonandschuster.com/Star-Trek"
                                   name="&amp;lpos=us-books-dropdown">Star
                                Trek</a></li>
                            <li><a href="http://www.simonandschuster.com/teen"
                                   name="&amp;lpos=us-books-dropdown">Teen</a>
                            </li>
                            <li><a href="http://search.simonandschuster.com/books/Category-Thrillers/_/N-g2wZpgz/Ne-ffk"
                                   name="&amp;lpos=us-books-dropdown">Thriller</a></li>
                            <li class="see_more"><a href="http://search.simonandschuster.com/books/books/_/N-pgz/Ne-pgx"
                                                    name="&amp;lpos=us-books-dropdown">See all categories</a></li>
                        </ul> -->


                    </div>
                </li>
                <li class="hidden-lg"><a href="#" id="books_nav_link" target="_top">کتاب‌ها</a>
                </li>
                <li><a href="/all_authors/" id="authors_nav_link" target="_top">پدیدآورنده‌گان</a>
                </li>
                
                <li class="disabled"><a href="/about_us" id="video_nav_link" target="_top">درباره‌ی ِما</a></li>
                <li><a href="/contact_us/" id="book_clubs_nav_link" target="_top">ارتباط با ما</a></li>
                <!--<li class="hidden-lg"><a href="#" target="_top">نامه‌خبر</a>
                </li> -->
            </ul>
            </div>
            </div>
        </div>
    </div>
</header>

{% block content %}
{% endblock %}

<!--
<section id="connect_with_us">
    <div class="container">
        <h3 class="centered">ارتباط با ما</h3>

        <div class="row">
            <ul class="span12 social-icons-list centered">
                <li><a class="social-icons-facebook" href="http://www.facebook.com/Badil.Pub"
                       title="Facebook"></a></li>
                <li><a class="social-icons-twitter" href="http://twitter.com/Badil" title="Twitter"></a>
                </li>
                <li><a class="social-icons-pinterest" href="http://pinterest.com/Badil/"
                       title="Pinterest"></a></li> 
                <li><a class="social-icons-instagram" href="http://instagram.com/Badeel"
                       title="Instagram"></a></li>
              <!--  <li><a class="social-icons-youtube" href="http://www.youtube.com/user/Badil"
                       title="YouTube"></a></li>
                <li><a class="social-icons-email" href="http://newsletters.simonandschuster.com/signup"
                       title="Email"></a></li> 
            </ul>
        </div>
    </div>
</section>
-->


<footer id="footer">
	<div id="footer" class="container hidden-sm centered">
	<div class="centered" style="margin-bottom:2%;">
		اهواز، کیان‌پارس، صندوق پستی 1123-61555
	</div>
	<div class="icon_container centered">
		 <a href="/"><img src="/media/icons/icon_home.png"></a>
		 <a href="/contact_us/"><img src="/media/icons/icon_mail.png"></a>
		 <a href="/contact_us/"><img src="/media/icons/icon_phone.png"></a>
		 <img src="/media/icons/icon_gift.png">
		 <img src="/media/icons/icon_download.png">
		 <img src="/media/icons/icon_facebook.png">
		 <img src="/media/icons/icon_instagram.png">
		 </div>
	</div>
<!--
<div id="footer" class="container hidden-sm">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <h4>درباره‌ی بدیل</h4>
            <ul>
                <li><a href="http://www.simonandschuster.biz/corporate/corporate-overview">اطلاعات تخمی</a>
                </li>
                <li><a href="http://www.simonandschuster.biz/divisions-and-imprints/divisions-and-imprints">بخش‌های مختلف</a></li>
                <li><a href="http://www.simonandschuster.biz/press_releases">ول‌کردن‌های فشاری</a></li>
                <li><a href="http://www.simonandschuster.biz/careers">کاریرز</a></li>
                <li><a href="http://www.simonandschuster.com:80/about/privacy_policy">پلیس</a></li>
                <li><a href="http://www.simonandschuster.com:80/about/terms_of_use">شرایط استفاده</a></li>
            </ul>
            <br>
            <h4>سایت‌های بین‌المللی</h4>
            <ul>
                <li><a href="http://www.simonandschuster.com.au/">افغانستان</a></li>
                <li><a href="http://www.simonandschuster.ca/">تاجیکستان</a></li>
                <li><a href="http://www.simonandschuster.co.uk/">ازبکستان</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-md-3">
            <h4>Industry Services</h4>
            <ul>
                <li><a href="http://www.simonandschuster.biz">SimonandSchuster.biz</a></li>
                <li><a href="http://view.ceros.com/simon-and-schuster/distribution-services">Distribution
                    Services</a>
                </li>
                <li><a href="http://www.simonspeakers.com">Simon &amp; Schuster Speakers Bureau</a></li>
                <li><a href="http://highered.simonandschuster.net">Higher Education</a></li>
                <li><a href="http://www.simonandschuster.net/desk-copy">Desk Copies</a></li>
                <li><a href="http://www.simonandschuster.net/exam-copy">Exam Copies</a></li>
                <li><a href="http://www.simonandschuster.net">Teachers &amp; Librarians</a></li>
            </ul>
            <br>
            <h4>Self Publishing</h4>
            <ul>
                <li><a href=" http://www.archwaypublishing.com/publishingjourney.aspx">Archway Publishing</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-md-3">
            <h4>Help</h4>
            <ul>
                <li><a href="http://www.simonandschuster.com:80/about/help_shopping#status">Order Status</a></li>
                <li><a href="http://www.simonandschuster.com:80/about/help_shopping#returns">Return a Product</a>
                </li>
                <li><a href="http://www.simonandschuster.com:80/about/contact_us">Contact Us</a></li>
                <li><a href="http://www.simonandschuster.com:80/about/help">Visit our Help Center</a></li>
                <li><a href="http://www.simonandschuster.com:80/about/site_map">Site Map</a></li>
                <li><a href="http://videos.simonandschuster.com:80/sitemap">Video Site Map</a></li>
                <li><a href="http://www.simonandschuster.biz/author-resources/anti-piracy-efforts">Report Piracy</a>
                </li>
                <li><a href="http://www.simonandschuster.biz/author-resources/manuscript-submissions">Manuscript
                    Submissions</a>
                </li>
            </ul>
        </div>
        <div class="last col-sm-3 col-md-3">
            <h4>Other Simon &amp; Schuster Sites</h4>
            <ul>
                <li><a href="http://www.pimsleur.com/">Pimsleur</a></li>
                <li><a href="http://pulseit.com">PulseIt</a></li>
                <li><a href="http://www.xoxoafterdark.com">XOXO After Dark</a></li>
                <li><a href="http://www.tipsonhealthyliving.com/">Tips on Healthy Living</a></li>
                <li><a href="http://www.tipsonlifeandlove.com/">Tips on Life &amp; Love</a></li>
            </ul>
        </div>
    </div>
</div>
<div id="footer" class="container visible-sm">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="accordion" id="footer_accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#footer_accordion"
                           href="#collapseOne">
                            <h6>About Simon &amp; Schuster</h6>
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <ul>
                                <li><a href="http://www.simonandschuster.biz/corporate/corporate-overview">Corporate
                                    Information</a></li>
                                <li>
                                    <a href="http://www.simonandschuster.biz/divisions-and-imprints/divisions-and-imprints">Divisions
                                        and Imprints</a></li>
                                <li><a href="http://www.simonandschuster.biz/press_releases">Press Releases</a></li>
                                <li><a href="http://www.simonandschuster.biz/careers">Careers</a></li>
                                <li><a href="http://www.simonandschuster.com:80/about/privacy_policy">Privacy
                                    Policy</a></li>
                                <li><a href="http://www.simonandschuster.com:80/about/terms_of_use">Terms of Use</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#footer_accordion"
                           href="#collapseTwo">
                            <h6>International Sites</h6>
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <ul>
                                <li><a href="http://www.simonandschuster.com.au/">Australia</a></li>
                                <li><a href="http://www.simonandschuster.ca/">Canada</a></li>
                                <li><a href="http://www.simonandschuster.co.uk/">United Kingdom</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#footer_accordion"
                           href="#collapseThree">
                            <h6>Industry Services</h6>
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <ul>
                                <li><a href="http://www.simonandschuster.biz">SimonandSchuster.biz</a></li>
                                <li><a href="http://www.simonspeakers.com">Simon &amp; Schuster Speakers Bureau</a>
                                </li>
                                <li><a href="http://highered.simonandschuster.net">Higher Education</a></li>
                                <li><a href="http://www.simonandschuster.net/desk-copy">Desk Copies</a></li>
                                <li><a href="http://www.simonandschuster.net/exam-copy">Exam Copies</a></li>
                                <li><a href="http://www.simonandschuster.net">Teachers &amp; Librarians</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#footer_accordion"
                           href="#collapseFour">
                            <h6>Self Publishing</h6>
                        </a>
                    </div>
                    <div id="collapseFour" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <ul>
                                <li><a href=" http://www.archwaypublishing.com/publishingjourney.aspx">Archway
                                    Publishing</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#footer_accordion"
                           href="#collapseFive">
                            <h6>Help</h6>
                        </a>
                    </div>
                    <div id="collapseFive" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <ul>
                                <li><a href="http://www.simonandschuster.com:80/about/help_shopping#status">Order
                                    Status</a></li>
                                <li><a href="http://www.simonandschuster.com:80/about/help_shopping#returns">Return
                                    a Product</a></li>
                                <li><a href="http://www.simonandschuster.com:80/about/contact_us">Contact Us</a>
                                </li>
                                <li><a href="http://www.simonandschuster.com:80/about/help">Visit our Help
                                    Center</a></li>
                                <li><a href="http://www.simonandschuster.com:80/about/site_map">Site Map</a></li>
                                <li><a href="http://videos.simonandschuster.com:80/sitemap">Video Site Map</a></li>
                                <li><a href="http://www.simonandschuster.biz/author-resources/anti-piracy-efforts">Report
                                    Piracy</a></li>
                                <li>
                                    <a href="http://www.simonandschuster.biz/author-resources/manuscript-submissions">Manuscript
                                        Submissions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#footer_accordion"
                           href="#collapseSix">
                            <h6>Other Simon &amp; Schuster Sites</h6>
                        </a>
                    </div>
                    <div id="collapseSix" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <ul>
                                <li><a href="http://www.pimsleur.com/">Pimsleur</a></li>
                                <li><a href="http://pulseit.com">PulseIt</a></li>
                                <li><a href="http://www.xoxoafterdark.com">XOXO After Dark</a></li>
                                <li><a href="http://www.tipsonhealthyliving.com/">Tips on Healthy Living</a></li>
                                <li><a href="http://www.tipsonlifeandlove.com/">Tips on Life &amp; Love</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
-->
</footer>

<script src="{{ MEDIA_URL }}js/jquery-2.1.0.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{ MEDIA_URL }}js/jquery.dotdotdot.min.js" type="text/javascript"></script>

<script src="{{ MEDIA_URL }}js/script.js" type="text/javascript"></script>

{% block extrajs %}{% endblock %}

<script type="text/javascript">
	window.navid_resize_book_shelves();
    window.resize_book_shelves();
    
    $billboardDropdown = $('.dropdown-menu', '#billboard .sidebar');

    $('#browse-by-category').on('touchstart', function (e) {
        e.preventDefault();
        $billboardDropdown.toggle();
    });

    $('.dropdown-menu > .close').click(function (e) {
        e.preventDefault();
        $billboardDropdown.toggle();
    });
</script>


</body>
{% endautoescape %}
</html>