{% extends 'base.html'%}

{% block content%}
<article class="transparent">
<section>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-6" style="text-align:justify;">
				<div class="col-sm-10 col-md-10">
				<div>
		اهواز، کیان‌پارس، صندوق پستی 1123-61555
				</div>
				<div style="margin-top:15px;">
					دریافت اطلاعات عمومی:    <a>info@kharposht.ir</a>
					<br>
ارتباط با واحد روابط عمومی و پخش: <a>pr@kharposht.ir</a>
<br>
ارتباط با بخش ادبی و ویراستاری: <a>editorial@kharposht.ir</a>

				</div>
				<div style="margin-top:40px;">
					ارسال آثار
				</div>
				<div style="text-align:justify;">
					در صورتی که مایل به چاپ آثارتان هستید متن تایپ‌شده‌ی اثر خود را به نشانی الکترونیکی <a>submit@kharposht.ir</a> ارسال کنید. نتیجه‌ی بررسی آثار شما در فاصله‌ی یک ماه تا شش هفته از طریق همان نشانی الکترونیکی به شما اعلام خواهد شد. در صورتی که مایل به ارسال نسخه‌ی دست‌نویس یا چاپ‌شده‌ی اثر خود هستید خلاصه‌یی از اثر و نکات مربوط به آن را به بخش ادبی و ویراستاری (نشانی الکترونیکی در بالا ذکر شد) ارسال کنید. به‌زودی نشانی صندوق پستی دریافت آثار نیز از همین طریق اعلام خواهد شد. در صورتی که ترجیح می‌دهید به‌صورت حضوری درباره‌ی آثارتان صحبت کنید به بخش روابط عمومی ئی‌میل بدهید تا در صورت لزوم هم‌آهنگی‌های لازم انجام شود.
				</div>
				<div style="margin-top:10px; text-align:justify;">
					در صورتی که مایل به همکاری با نشر خارپشت هستید سوابق کاری خود را به نشانی روابط عمومی (در بالا ذکر شد) ارسال کنید.
				</div>
				</div>
			</div>
			<div class="col-sm-6 col-md-6" style="width:48%;">
				<div>
					نشانی ِالکترونیکی
				</div>
				<div>
					<input id="mailMail" class="form-control" type="text"/>
				</div>
				<div>
					نام
				</div>
				<div>
					<input id="mailName" class="form-control" type="text"/>
				</div>
				<div>
					موضوع
				</div>
				<div>
					<input id="mailFrom" class="form-control" type="text"/>
				</div>
				<div>
					ارسال پیام به
				</div>
				<div>
					<select class="form-control" id="mailTo">
						<option value="pr@kharposht.ir">روابط عمومی</option>
						<option value="editorial@kharposht.ir">بخش ادبی و ویراستاری</option>
						<option value="editorial@kharposht.ir">امور هنری و گرافیک</option>
						<option value="submit@kharposht.ir">پذیرش اثر</option>
						<option value="info@kharposht.ir">مدیر مسئول</option>
					</select>
				</div>
				<div>
					متن پیام
				</div>
				<div>
					<textarea id="mailMessage" class="form-control" style="height:200px;"> </textarea>
				</div>
				<div>
					<button class="form-control btn btn-default col-sm-2 col-md-2">ارسال ِپیام</button>
				</div>
			</div>
		</div>
	</div>
</section>
</article>
{% endblock %}
