{% extends 'base.html' %}

{% block facebook_meta%}
<meta property="og:title" content="خارپشت">
<meta property="og:locale" content="fa_IR">
<meta property="og:site_name" content="خارپشت">
<meta property="og:description" content="نشر آثار ادبی روز جهان">
<meta property="og:image" content="http://www.kharposht.ir/media/images/LOGO BOZORG.png">
{% endblock %}

{% block content %}
<article class="transparent">

<section id="billboard">
    <div class="container">
        <div class="row">
            <div class="pull-left col-sm-9 col-md-9">
                <div id="billboard-carousel" class="carousel slide">
                    <ol class="carousel-indicators">
                        <li data-target="#billboard-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#billboard-carousel" data-slide-to="1"></li>
                        <li data-target="#billboard-carousel" data-slide-to="2"></li>
                        <li data-target="#billboard-carousel" data-slide-to="3"></li>
                        <li data-target="#billboard-carousel" data-slide-to="4"></li>

                    </ol>

                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <a href="/books/3">
                                <img alt="نوروزدرمانی"
                                     src="/media/images/slide_noruzdarmani_H.jpg"></a>
                        </div>

                        <div class="item">
                            <a href="/books/2">
                                <img alt="من می‌میرم اما یادها می‌ماند"
                                     src="/media/images/slide_AIDS_H.jpg"></a>
							<!--
                            <div class="carousel-caption">
                                <div class="carousel-caption-inner">
                                    <h4>#1 <i>New York Times</i> Bestseller</h4>

                                    <p>Now in paperback. <a
                                            href="http://books.simonandschuster.com/Doctor-Sleep/Stephen-King/9781451698855?intcmp=ihp_bb&amp;cp_date=ihp_bb_t2_061014_drsleep_lm"
                                            target="_blank" style="color: #cc0000;"><strong>LEARN MORE.</strong></a></p>
                                </div>
                            </div>
                            -->
                        </div>

                        <div class="item">
                            <a href="/books/1">
                                <img alt="شبانه‌ی شیلی"
                                     src="/media/images/slide_shabane-shili_H.jpg"></a>
                            <!--
                            <div class="carousel-caption">
                                <div class="carousel-caption-inner">
                                    <h4>From the <i>New York Times</i> Bestselling Author</h4>

                                    <p>
                                        <a href="http://books.simonandschuster.com/Counterfeit-Lies/Oliver-North/9781476714356?intcmp=ihp_bb&amp;cp_date=ihp_bb_t3_061014_counterfeit_lm"
                                           target="_blank" style="color: #f1d98b;"><strong>LEARN MORE.</strong></a></p>
                                </div>
                            </div>
                            -->
                        </div>

                        <div class="item">
                            <a href="/books/4">
                                <img alt="از کودکان‌تان عکس‌های گویا و جان‌دار بگیرید"
                                     src="/media/images/slide_kids-in-pictures_H.jpg"></a>

                            <!--
                            <div class="carousel-caption">
                                <div class="carousel-caption-inner">
                                    <h4>From Stephen King, the Bestselling "Master of Suspense"</h4>

                                    <p>
                                        <a href="http://books.simonandschuster.com/Mr-Mercedes/Stephen-King/9781476754451?intcmp=ihp_bb&amp;cp_date=ihp_bb_t4_061014_mercedes_lm"
                                           target="_blank" style="color: #ff3333"><strong>LEARN MORE.</strong></a></p>
                                </div>
                            </div>
                            -->
                        </div>

					<!--
                        <div class="item">
                            <a href="http://books.simonandschuster.com/Stormy-Persuasion/Johanna-Lindsey/9781476714271?intcmp=ihp_bb&amp;cp_date=ihp_bb_t5_061014_stormy_all">
                                <img alt="Stormy Persuasions"
                                     src="http://d1hbl61hovme3a.cloudfront.net/assets_us/StormyPersuasions_homepage_DG.jpg"></a>

                            <div class="carousel-caption">
                                <div class="carousel-caption-inner">
                                    <h4>The Mallory Saga Continues</h4>

                                    <p>
                                        <a href="http://books.simonandschuster.com/Stormy-Persuasion/Johanna-Lindsey/9781476714271?intcmp=ihp_bb&amp;cp_date=ihp_bb_t5_061014_stormy_lm"
                                           target="_blank" style="color: #FFFFFF;"><strong>LEARN MORE.</strong></a></p>
                                </div>
                            </div>
                        </div>
                    -->
                    </div>

                    <a class="carousel-control right" href="#billboard-carousel" data-slide="next"> ‹</a>
                    <a class="carousel-control left" href="#billboard-carousel" data-slide="prev">›</a>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <div class="sidebar">
                    <ul>
                    	
                        <li class="dropdown-submenu hidden-sm">
                            <h4 id="browse-by-category" class="disabled"><a href="#" tabindex="-1">دسته‌بندی‌ی ِموضوعی</a></h4>
                            <ul class="dropdown-menu">
                                <a href="#" class="close" aria-hidden="true">×</a>

                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <li>
                                            <a href="/published"
                                               name="&amp;lpos=us-categories">منتشر شد</a></li>
                                        <li><a href="/not_published/"
                                               name="&amp;lpos=us-categories">منتشر می‌شود</a>
                                        </li>
                                        <li>
                                            <a href="/books_by_subject/2"
                                               name="&amp;lpos=us-categories">ادبیات ِایران</a></li>
                                        <li>
                                            <a href="/books_by_subject/1"
                                               name="&amp;lpos=us-categories">ادبیات ِجهان</a></li>
                                        <li class="disabled">
                                            <a href=""
                                               name="&amp;lpos=us-categories">پیش‌نهاد ِما</a></li>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <li>
                                            <a href="/books_by_subject/5"
                                               name="&amp;lpos=us-categories">داستانی</a></li>
                                        <li><a href="/books_by_subject/6" name="&amp;lpos=us-categories">هنر</a></li>
                                        <li><a href="/books_by_subject/4"
                                               name="&amp;lpos=us-categories">خاطرات</a></li>
                                        <li>
                                            <a href="/all_books/"
                                               name="&amp;lpos=us-categories">همه‌ی ِدسته‌ها</a></li>
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <div class="accordion visible-sm">
                            <li><h4 id="browse-by-category"><a href="#secondary-categories" class="accordion-toggle"
                                                               data-toggle="collapse">دسته‌بندی‌ی ِموضوعی</a> <b
                                    class="caret"></b></h4></li>
                            <ul id="secondary-categories" class="accordion-body collapse">
                                <li>
                                    <a href="/published/"
                                       name="&amp;lpos=us-categories">منتشر شد</a></li>
                                <li><a href="/not_published/" name="&amp;lpos=us-categories">منتشر می‌شود</a>
                                </li>
                                <li>
                                    <a href="/books_by_subject/2"
                                       name="&amp;lpos=us-categories">ادبیات ِایران</a></li>
                                <li>
                                    <a href=""
                                       name="&amp;lpos=us-categories">ادبیات ِجهان</a></li>
                                <li class="disabled">
                                    <a href=""
                                       name="&amp;lpos=us-categories">اخبار</a></li>
                                <li class="disabled">
                                    <a href=""
                                       name="&amp;lpos=us-categories">مقالات</a></li>
                            </ul>
                        </div>
                        <hr>
                       <!-- <li><h4>بگرد</h4></li> -->
                        
                        <li><a href="/published/">منتشر شد</a></li>
                        <li><a href="/not_published/" name="&amp;lpos=us-explore">منتشر می‌شود</a></li>
                        <li><a href="/books_by_subject/2" name="&amp;lpos=us-explore">ادبیات ِایران</a>
                        </li>
                        <li><a href="/books_by_subject/1" name="&amp;lpos=us-explore">ادبیات ِجهان</a></li>
                        <li class="disabled"><a href="" >اخبار</a></li>
                        <li class="disabled"><a href="" >مقالات</a>
                        </li>
                        <li class="disabled"><a href="" >هدیه</a>
                        </li>
                        <li><a href="http://badeel.ir" >نشر بدیل</a></li> 
                        

                    </ul>
                </div>
            </div>
        </div>


    </div>
</section>

{% include 'partials/book_shelf.html' with featured=featured_book first=books|slice:"0:3" second=books|slice:"3:6" %}

<div class="container">
    <div class="row">
        <a href="/all_books/" class="see-more">سایر ِکتاب‌ها</a>
    </div>
</div>

<section id="noted-authors">
	{% include 'partials/author_shelf.html' with noted=noted_authors%}
</section>

</article>

{% endblock %}